html, body  {
    padding: 0px;
    margin: 0px;
}
h1  {
    font-size: 12pt;
}
.hidden {
    display: none;
}

#leftBar    {
    width: 150px;
    height: 100%;
    float: left;
    background-color: #D7DDE5;
    border-width: 1px;
    border-color: #B5B9BD;
    border-right-style: solid;
}
#paneContainer    {
    margin-left: 10px;
    height: 100%;
    float: left;
}