
<div id="footer">
    <nav>
        <li><a href="download">DOWNLOAD</a></li>
        <li><a href="about">ABOUT</a></li>
        <li><a href="explained">HOW IT WORKS</a></li>
        <li><a href="howto">HOW TO USE</a></li>
    </nav>
</div>


    
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
<!-- google analytics start -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-41913822-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
<!-- google analytics end -->